#footer-text {
    font-family: 'Dancing Script', 'serif', cursive;
    font-style: normal;
    font-weight: 400px;
}

#footer {
    width: 100vw;
}

#btn {
    min-width: 20vw !important;
}

#navigation {
    margin-bottom: 2px;
    box-shadow: 0px 3px 20px 1px #000;
}