@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.my-title {
    font-family: 'Dancing Script', 'serif', cursive;
    font-style: normal;
    font-weight: 400px;
    font-size: 3rem;
}

#logo {
    margin: -10px auto;
}